* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-weight: 300;
}

#waybar.main {
  font-size: 14px;
  padding: 0 2px;
}

#waybar.secondary {
  font-size: 11px;
  padding: 0 0px;
}

#waybar {
  background: rgba(20, 20, 20, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  padding: 0; /* make sure no padding here */
}

.modules-left,
.modules-center,
.modules-right {
    padding: 7px;
    margin: 10px 0 5px 10px;
    border-radius: 10px;
    background: rgba(20, 20, 20, 0.6); /* semi-transparent dark background */
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

window#waybar {
    all: unset;
}

tooltip {
    background: #141414; /* dark background */
    color: #1E90FF; /* dodger blue text */
}

#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
    transition: all 0.3s ease;
    color: #1E90FF;
}

#custom-notification {
    padding: 0px 5px;
    transition: all 0.3s ease;
    color: #1E90FF;
}

#clock {
    padding: 0px 5px;
    color: #1E90FF;
    transition: all 0.3s ease;
}

#custom-pacman {
    padding: 0px 5px;
    transition: all 0.3s ease;
    color: #1E90FF;
}

#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    all: unset;
    padding: 0px 5px;
    color: rgba(30, 144, 255, 0.4); /* dodger blue transparent */
    transition: all 0.2s ease;
}

#workspaces button:hover {
    background: rgba(30, 144, 255, 0.2);
    color: #ffffff;
    border-radius: 6px;
    transition: all 0.3s ease;
}

#workspaces button.active {
    color: #1E90FF;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.2);
}

#workspaces button.empty:hover {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
    transition: all 1s ease;
}

#workspaces button.empty.active {
    color: #1E90FF;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#bluetooth,
#network,
#cpu,
#memory,
#temperature,
#custom-colorpicker {
    padding: 0px 5px;
    transition: all 0.3s ease;
    color: #1E90FF;
}

#battery.charging {
    color: #26A65B; /* green */
}

#battery.warning:not(.charging) {
    color: #ffbe61; /* orange */
}

#battery.critical:not(.charging) {
    color: #f53c3c; /* red */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#group-expand {
    padding: 0px 5px;
    transition: all 0.3s ease;
}

#custom-expand {
    padding: 0px 5px;
    color: rgba(255, 255, 255, 0.2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
}

#custom-expand:hover {
    color: rgba(255, 255, 255, 0.2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

#custom-endpoint {
    color: transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}

#tray {
    padding: 0px 5px;
    transition: all 0.3s ease;
}

#tray menu *,
#tray menu separator {
    padding: 0px 5px;
    transition: all 0.3s ease;
}